body {
    display: block;
    margin: 0;
}
.container {
    background-image: url("../images/PillowBlue.png");
    background-repeat: repeat;
    width: 60%;
    margin: 0 auto;
}

div {
    display: block;
}

.title, .footer {
    background: #2D3047;
    color: #E5D882;
    width:100%;
    text-align: center;
}

h1 {
    padding: 10px;
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;  
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    line-height: 22px;
}

.instructions {
    background: #A799B7;
    color: #2D3047;
    font-size: 18px;
    text-align: left;
    margin: 0 8% 20px 8%;
    padding: 20px;
}

#randomNbr {
    background: #E5D882;
    color: #2D3047;
    margin: 30px 4% 4% 40px;
    width: 20%;
    min-height: 100px;
    padding: 5px 20px;
    border: 2px solid #2D3047;
    float: left;
    text-align: center;
}

#win-lose {
    background: #048A81;
    color: white;
    text-align: center;
    margin: 30px 4% 30px 40px;
    width: 20%;
    height: 100px;
    padding: 5px 20px;
    border: 2px solid #2D3047;
    float: left;
    visibility: visible;
}

#score {
    background: #E5D882;
    color: #2D3047;
    margin: 30px 40px 30px 40px;
    width: 20%;
    min-height: 100px;
    padding: 5px 20px;
    border: 2px solid #2D3047;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.imgGroup {
    margin-left: 30%;
    background: #8CC0C8;
    height: 100px;
    width: 370px;
    border: 2px solid white;
    position: relative;
}

.sum {
    background: #A799B7;
    border: 5px solid #2D3047;
    margin-top: 40px;
    margin-left: 20%;
    margin-bottom: 60px;
    width: 50%;
    padding-left: 20px; 
}

.btnPlay {
    background: #2D3047;
    font-size: 20px;
    font-weight: bold;
    color: #E5D882;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 15px;
}

.footer {
    padding: 10px 0;
}

.newClass {
    visibility: hidden;
}

@media (max-width: 1553px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 945px) {
    #randomNbr {
        margin: 30px 1% 30px 5px;
    }
    #win-lose {
        margin: 30px 1% 30px 5px;
        min-width: 160px;
    }
    #score {
        margin: 30px 5px 30px 5px;
    }
    .imgGroup {
        margin: 30px 0 30px 5px;
    }
    .sum {
        margin-left: 5px;
        width: 75%;
    }
}

@media (max-width: 593px) {
    #randomNbr {
        margin: 20px 5px 5px 5px;
        width: 90%;
    }
    #win-lose {
        margin: 5px;
        width: 90%;
    }
    #score {
        margin: 5px;
        width: 90%;
    }
    .sum {
        margin-left: 5px;
        width: 90%;
    }
}